@using EasyERP.Web.Framework
@model EasyERP.Web.Models.Orders.OrderModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">我的订单</div>
    </div>
    <div class="order-info">
        <label>订单号:</label>
        @Html.DisplayTextFor(model => model.OrderGuid)
    </div>
    <div class="order-info">
        <label>提交时间:</label>
        @Html.DisplayTextFor(model => model.CreatedOn)
    </div>
    <div class="order-info">
        <label>订单状态:</label><label id="order-status">@Model.OrderStatus</label>
    </div>
    <div class="form-group">
        <button class="k-button" id="approve">批准</button>
    </div>
    <div class="details">
        <div id="product-list">

        </div>
    </div>
    <div class="order-info">
        <label>总金额:</label>
        @Html.DisplayTextFor(model => model.OrderTotal)
    </div>
    <script id="order-item-template" type="text/x-kendo-template">
        <div>
            <ul>
                <li><em>产品名:</em><span data-bind="text: productName"></span></li>
                <li><em>数量:</em><span data-bind="text: quantity"></span></li>
                <li><em>单价:</em><span data-bind="text: itemPrice"></span></li>
                <li><em>总计:</em><span data-bind="text: total"></span></li>
            </ul>
        </div>
    </script>

    <script type="text/javascript">
        var s = @(Html.ToJson(Model));
        $("#product-list").kendoGrid({
            dataSource: s.items,
            columns: [
                { field: "productName", title: "产品名", width: 100 },
                { field: "quantity", title: "数量", width: 100 },
                { field: "price", title: "价格", width: 100 }
            ]
        });
    </script>
}