@using EasyERP.Web.Framework
@model EasyERP.Web.Models.Products.ProductModel
@section SectionTitle
{
    <h1 id="crmTitle">
        <strong style="font-size: smaller">编辑产品信息 - </strong> 
        <strong class="pdt-nm">@Model.Name</strong>
        <strong class="pdt-back"><i class="fa fa-reply"></i>@Html.ActionLink("回到产品列表", "List")</strong>
    </h1>
      
}
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/ProductLayout.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new
{
    id = "product-form"
}))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        

        <div class="row m-b">
            <div class="col-md-4">
                <span id="product-delete" class="k-button"><i class="fa fa-times" style=" color: #EA394C;"></i>删除该产品</span>
            </div>
            <div class="col-md-4">
                <input type="submit" name="save" class="k-button btn-submit" style="padding-left:1.5em; padding-right:1.5em;"value="保存修改" />
            </div>
           
            
            <div class="col-md-4"></div>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("product-delete")