@using EasyErp.Core.Configuration.Settings
@using EasyErp.Core.Infrastructure
@model EasyERP.Web.Models.Products.ProductListModel
@section SectionTitle
{
    <h1 id="crmTitle">
        <strong>库存管理</strong>
    </h1>
}
@{
    ViewBag.Title = "库存管理";
    var defaultGridPageSize = EngineContext.Current.Resolve<AreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<AreaSettings>().GridPageSizes;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row m-b">
        <div class="form-group col-md-3">
            @Html.ValidationMessageFor(m => m.SearchProductName, "", new
        {
            @class = "text-danger"
        })
            @Html.LabelFor(m => m.SearchProductName)
            @Html.TextBoxFor(model => model.SearchProductName, new
        {
            id = "search-product-name"
        })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(m => m.SearchCategoryId)
            @Html.DropDownList("SearchCategoryId", Model.AvailableCategories, new
        {
            id = "selected-category",
            @onchange = "var grid = $(\"#products-grid\").data(\"kendoGrid\"); grid.dataSource.page(1);"
        })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(m => m.SearchStoreId)
            @Html.DropDownList("SearchStoreId", Model.AvailableStores, new
        {
            id = "selected-store",
            @onchange = "var grid = $(\"#products-grid\").data(\"kendoGrid\"); grid.dataSource.page(1);"
        })
        </div>
    </div>
    <div>
        <input type="hidden" id="search-products" class="k-button" value="搜索" />
    </div>
        <div id="products-grid">
    </div>
    <script type="text/javascript">
        $(document).ready(function() {

                $("#products-grid").kendoGrid({
                    dataSource: {
                        transport: {
                            read: {
                                url: "/Product/StockInfo",
                                type: "POST",
                                dataType: "json"
                            },
                            parameterMap: function(options, operation) {
                                if (operation === "read") {
                                    var data = {
                                        SearchProductName: $("#search-product-name").val(),
                                        SearchStoreId: $("#selected-store").val(),
                                        SearchCategoryId: $("#selected-category").val()
                                    };
                                    addAntiForgeryToken(data);
                                    return data;
                                }
                            }
                        },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        this.cancelChanges();
                    },
                    pageSize: @(defaultGridPageSize),
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    pageSizes: [@(gridPageSizes)]
                },
                batch: false,
                editable: {
                    confirmation: true,
                    mode: "inline",
                    destroy: true
                },
                scrollable: false,
                columns: [
                    { field: "ProductName", title: "产品", width: 100 },
                    { field: "StoreName", title: "门店", width: 100 },
                    { field: "Quantity", title: "库存", width: 100 }
                ]
            });
            //search button
            $("#search-products").click(function() {
                var grid = $("#products-grid").data("kendoGrid");
                grid.dataSource.page(1);
                return false;
            });

            $("#search-product-name").keydown(function(event) {
                if (event.keyCode === 13) {
                    $("#search-products").click();
                    return false;
                }
            });
        });
    </script>
}
