@using EasyErp.Core.Configuration.Settings
@using EasyErp.Core.Infrastructure
@model EasyERP.Web.Models.Products.ProductListModel
@section SectionTitle
{
    <h1 id="crmTitle">
        <strong>产品目录</strong>
    </h1>
}
@{
    ViewBag.Title = "产品目录";
    var defaultGridPageSize = EngineContext.Current.Resolve<AreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<AreaSettings>().GridPageSizes;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row m-b">
        <div class="form-group col-md-3">
            @Html.ValidationMessageFor(m => m.SearchProductName, "", new
        {
            @class = "text-danger"
        })
            @Html.LabelFor(m => m.SearchProductName)
            @Html.TextBoxFor(model => model.SearchProductName, new
        {
            id = "search-product-name"
        })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(m => m.SearchCategoryId)
            @Html.DropDownList("SearchCategoryId", Model.AvailableCategories, new
        {
            id = "selected-category",
            @onchange = "var grid = $(\"#products-grid\").data(\"kendoGrid\"); grid.dataSource.page(1);"
        })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(m => m.SearchStoreId)
            @Html.DropDownList("SearchStoreId", Model.AvailableStores, new
        {
            id = "selected-store",
            @onchange = "var grid = $(\"#products-grid\").data(\"kendoGrid\"); grid.dataSource.page(1);"
        })
        </div>
    </div>
  
    <div>
        <input type="hidden" id="search-products" class="k-button" value="搜索" />
    </div>
}
<div class="row m-b">
    <div class="col-md-3">
        @using (Html.BeginForm("ExportProducts", "Product", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="submit" class="button-nm btn-submit" id="export-product-button" value="导出产品">
        }
    </div>
</div>
<div>
    <div id="products-grid"></div>
</div>
<script type="text/javascript">
    $(document).ready(function() {

        $("#products-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "/Product/ProductList",
                        type: "POST",
                        dataType: "json"
                    },
                    destroy: {
                        url: "/Product/Destroy",
                        type: "POST",
                        dataType: "json"
                    },
                    parameterMap: function(options, operation) {
                        var data;
                        if (operation === "read") {
                            data = {
                                SearchProductName: $("#search-product-name").val(),
                                SearchStoreId: $("#selected-store").val(),
                                SearchCategoryId: $("#selected-category").val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        } else if (operation === "destroy") {
                            data = { id: options.Id };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    }
                },
                schema: {
                    model: { id: "Id" },
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            batch: false,
            editable: {
                confirmation: true,
                mode: "inline",
                destroy: true
            },
            scrollable: false,
            columns: [
                { field: "Name", title: "产品名", width: 100 },
                { field: "ItemNo", title: "产品编号", width: 100 },
                { field: "CategoryName", title: "产品目录", width: 100 },
                { field: "ProductCost", title: "进货价(元)", width: 100 },
                { field: "Price", title: "售价(元)", width: 100 },
                { field: "Gtin", title: "条码", width: 100 },
                { field: "Id", title: "&nbsp;", width: 100, template: "<a href=\"Edit/#=Id#\">修改商品信息</a>" },
                { command: "destroy", text: "删除", title: "&nbsp;", width: 100 }
            ]
        });
        //search button
        $("#search-products").click(function() {
            var grid = $("#products-grid").data("kendoGrid");
            grid.dataSource.page(1);
            return false;
        });

        $("#search-product-name").keydown(function(event) {
            if (event.keyCode === 13) {
                $("#search-products").click();
            }
        });
    });
</script>