@using EasyErp.Core.Configuration.Settings
@using EasyErp.Core.Infrastructure
@model EasyERP.Web.Models.Products.ProductListModel
@section SectionTitle
{
    产品管理
}
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<AreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<AreaSettings>().GridPageSizes;
}

<div class="options">
    @*export selected (Excel). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
    @using (Html.BeginForm("ExportProducts", "Product", FormMethod.Post, new
    {
        id = "export-product"
    }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" id="selectedIds" name="selectedIds" value=""/>
    }
    <button id="export-product-button">导出产品</button>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.ValidationMessageFor(m => m.SearchProductName, "", new
        {
            @class = "text-danger"
        })
        @Html.LabelFor(m => m.SearchProductName)
        @Html.TextBoxFor(model => model.SearchProductName, new
        {
            id = "search-product-name"
        })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SearchCategoryId)
        @Html.DropDownList("SearchCategoryId", Model.AvailableCategories, new
        {
            id = "selected-category",
            @onchange = "var grid = $(\"#products-grid\").data(\"kendoGrid\"); grid.dataSource.page(1);"
        })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SearchStoreId)
        @Html.DropDownList("SearchStoreId", Model.AvailableStores, new
        {
            id = "selected-store",
            @onchange = "var grid = $(\"#products-grid\").data(\"kendoGrid\"); grid.dataSource.page(1);"
        })
    </div>
    <div>
        <input type="button" id="search-products" class="k-button" value="搜索"/>
    </div>
    <div>
        <div id="products-grid"></div>
    </div>
    <script type="text/javascript">
        function additionalData() {
            var data = {
                SearchProductName: $("#search-product-name").val(),
                SearchStoreId: $("#selected-store").val(),
                SearchCategoryId: $("#selected-category").val()
            };
            addAntiForgeryToken(data);
            return data;
        }

        $(document).ready(function() {

            $("#products-grid").kendoGrid({
                dataSource: {
                    autoSync: true,
                    transport: {
                        read: {
                            url: "/Product/ProductList",
                            type: "POST",
                            dataType: "json",
                            data: additionalData
                        },
                        destroy: {
                            url: "/Product/Destroy",
                            type: "POST",
                            dataType: "json"
                        }
                    },
                    schema: {
                        model: { id: "Id" },
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        this.cancelChanges();
                    },
                    pageSize: @(defaultGridPageSize),
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    pageSizes: [@(gridPageSizes)]
                },
                batch: false,
                editable: {
                    confirmation: true,
                    mode: "inline",
                    destroy: true
                },
                scrollable: false,
                columns: [
                    { field: "Name", title: "产品名", width: 100 },
                    { field: "ItemNo", title: "产品编码", width: 100 },
                    { field: "CategoryName", title: "产品目录", width: 100 },
                    { field: "StockQuantity", title: "库存", width: 100 },
                    { field: "Price", title: "价格", width: 100 },
                    { field: "ProductCost", title: "成本", width: 100 },
                    { field: "Gtin", title: "条码", width: 100 },
                    { field: "Id", title: "&nbsp;", width: 100, template: "<a href=\"Edit/#=Id#\">修改</a>" },
                    { field: "Id", title: "&nbsp;", width: 100, template: "<a href=\"Price/#=Id#\">修改价格</a>" },
                    { command: "destroy", text: "删除", title: "&nbsp;", width: 100 }
                ]
            });
            //search button
            $("#search-products").click(function() {
                var grid = $("#products-grid").data("kendoGrid");
                grid.dataSource.page(1);
                return false;
            });

            $("#search-product-name").keydown(function(event) {
                if (event.keyCode === 13) {
                    $("#search-products").click();
                    return false;
                }
            });

            //delete selected
            $("#delete-selected").click(function(e) {
                e.preventDefault();

                var postData = {
                    selectedIds: selectedIds
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("DeleteSelected", "Product"))",
                    data: postData,
                    complete: function(data) {
                        //reload grid
                        var grid = $("#products-grid").data("kendoGrid");
                        grid.dataSource.read();
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    },
                    traditional: true
                });
                return false;
            });

            $('#export-product-button').click(function(e) {
                e.preventDefault();
                $('#export-product').submit();
                return false;
            });
        });

    </script>
}