@using EasyERP.Web.Framework
@model EasyERP.Web.Models.Products.ProductListModel

@{
    ViewBag.Title = "ProductManage";
    var defaultGridPageSize = 10;
    var gridPageSizes = 10;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <label>ProductManagement</label>
        </div>
        <div class="options">
            <a href="@Url.Action("Create")" class="k-button">添加产品</a>
            <a href="@Url.Action("Inventory")" class="k-button">入库</a>
            <input type="button" id="delete-selected" class="k-button" value="Delete" />
        </div>
    </div>
    <table width="100%">
        <tr>
            <td class="adminTitle">
                SearchProductName:
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SearchProductName)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                SearchCategory:
            </td>
            <td class="adminData">
                @Html.DropDownList("SearchCategoryId", Model.AvailableCategories)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="search-products" class="k-button" value="Search" />
            </td>
        </tr>
    </table>
    <table class="content">
        <tr>
            <td>
                <div id="products-grid"></div>
                <script>
                    $(document).ready(function() {
                        $("#products-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ProductList", "Product"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            dataBound: onDataBound,
                            columns: [
                                {
                                    field: "Id",
                                    headerTemplate: "<input id='mastercheckbox' type='checkbox' />",
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: "<input type='checkbox' value='#=Id#' class='checkboxGroups' />",
                                    width: 50
                                },
                                {
                                    field: "Name",
                                    title: "产品名",
                                    width: 300
                                },
                                {
                                    field: "CategoryName",
                                    title: "产品目录",
                                    width: 300
                                },
                                {
                                    field: "StockQuantity",
                                    title: "库存",
                                    width: 100
                                },
                                {
                                    field: "Price",
                                    title: "价格",
                                    width: 100
                                },
                                {
                                    field: "ProductCost",
                                    title: "成本",
                                    width: 100
                                },
                                {
                                    field: "Sku",
                                    title: "条码",
                                    width: 100
                                },
{
                                    field: "Id",
                                    title: "查看入库记录",
                                    width: 100,
                                    template: '<a href="Records/#=Id#">编辑</a>'
                                },
                                {
                                    field: "Id",
                                    title: "修改",
                                    width: 100,
                                    template: '<a href="Edit/#=Id#">编辑</a>'
                                }
                            ]
                        });
                    });
                </script>
            </td>
        </tr>
    </table>
    <script type="text/javascript">

        var selectedIds = [];

        $(document).ready(function() {

            //search button
            $("#search-products").click(function() {
                //search
                var grid = $("#products-grid").data("kendoGrid");
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                //clear selected checkboxes
                $(".checkboxGroups").attr("checked", false).change();
                selectedIds = [];
                return false;
            });

            $("#@Html.FieldIdFor(model => model.SearchProductName)").keydown(function(event) {
                if (event.keyCode == 13) {
                    $("#search-products").click();
                    return false;
                }
            });

            //delete selected
            $("#delete-selected").click(function(e) {

                e.preventDefault();

                var postData = {
                    selectedIds: selectedIds
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("DeleteSelected", "Product"))",
                    data: postData,
                    complete: function(data) {
                        //reload grid
                        var grid = $("#products-grid").data("kendoGrid");
                        grid.dataSource.read();
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    },
                    traditional: true
                });
                return false;
            });

            $("#mastercheckbox").click(function() {
                $(".checkboxGroups").attr("checked", $(this).is(":checked")).change();
            });

            //wire up checkboxes.
            $("#products-grid").on("change", "input[type=checkbox][id!=mastercheckbox]", function(e) {
                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.
                        selectedIds.push($check.val());
                    }
                } else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.
                        selectedIds = $.grep(selectedIds, function(item, index) {
                            return item != $check.val();
                        });
                    }
                }
                updateMasterCheckbox();
            });
        });

        function additionalData() {
            var data = {
                SearchProductName: $("#@Html.FieldIdFor(model => model.SearchProductName)").val(),
            };
            addAntiForgeryToken(data);
            return data;
        }

        function onDataBound(e) {
            $("#products-grid input[type=checkbox][id!=mastercheckbox]").each(function() {
                var currentId = $(this).val();
                var checked = jQuery.inArray(currentId, selectedIds);
                //set checked based on if current checkbox's value is in selectedIds.
                $(this).attr("checked", checked > -1);
            });

            updateMasterCheckbox();
        }

        function updateMasterCheckbox() {
            var numChkBoxes = $("#products-grid input[type=checkbox][id!=mastercheckbox]").length;
            var numChkBoxesChecked = $("#products-grid input[type=checkbox][id!=mastercheckbox]:checked").length;
            $("#mastercheckbox").attr("checked", numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }
    </script>
}