@using EasyERP.Web.Framework
@using EasyERP.Web.Framework.Security.Captcha
@using EasyERP.Web.Framework.UI
@model EasyERP.Web.Models.Users.LoginModel
@{
    //title
    Html.AddTitleParts("登录");
}
<div class="page login-page">

    <div class="page-title">

        <h1 class="logo-name">米谷</h1>

    </div>

    <div class="page-body">

        <div class="customer-blocks">

            <div class="returning-wrapper">

              

                <div class="form-fields">

                    @using (Html.BeginForm())
                    {
                        <div class="message-error">

                            @Html.ValidationSummary(true, "登录失败")
                        </div>

                        <div class="form-group">

                           
                            @Html.TextBoxFor(m => m.Username, new
                            {
                                @class = "form-control form-login",
                                @placeholder="用户名",
                                autofocus = "autofocus"
                            })
                            @Html.ValidationMessageFor(m => m.Username)
                        </div>

                        <div class="form-group">

                            
                            @Html.PasswordFor(m => m.Password, new
                            {
                                @class = "form-control form-login",
                                @placeholder = "密码"
                            })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box">

                                @Html.Raw(Html.GenerateCaptcha())
                            </div>
                        }
                        

                            <button type="submit" class="button-lg btn-submit" value="登录">登录</button>

                        
                    }
                </div>

            </div>

        </div>

    </div>

</div>