@using EasyERP.Web.Framework
@model EasyERP.Web.Models.Stores.StoreModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
<script>
    $(document).ready(function() {
        $("#store-edit").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>
<div id="store-edit">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            门店信息
        </li>
    </ul>
    <div>
        @TabInfo()
    </div>
</div>
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="1">
@helper TabInfo()
{ @Html.Partial("_CreateOrUpdate.Info", Model)}
