@using Doamin.Service.Events
@using EasyErp.Core.Infrastructure
@using EasyERP.Web.Framework
@using EasyERP.Web.Framework.Events
@model EasyERP.Web.Models.Stores.StoreModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
<script>
    $(document).ready(function () {
        $("#store-edit").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>
<div id="store-edit">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            "门店信息"
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
            "员工表"
        </li>
    </ul>
    <div>
        @TabInfo()
    </div>
    <div>
        @*@TabEmployees()*@
    </div>
</div>
@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "store-edit");
    //EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}
@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="1">
@helper TabInfo()
{
    @Html.Partial("_CreateOrUpdate.Info", Model)
}
@helper TabEmployees()
{
    @*@Html.Partial("_CreateOrUpdate.Emloyees", Model)*@
}