@using EasyErp.Core
@using EasyERP.Web.Framework.UI
@{
    var currentVersion = EasyErpVersion.CurrentVersion;
    var currentUser = WorkContext.CurrentUser;

    //CSS resources
    Html.AppendCssFileParts("~/Content/kendo/2014.2.716/kendo.bootstrap.min.css");
    Html.AppendCssFileParts("~/Content/kendo/2014.2.716/kendo.common.min.css");
    Html.AppendCssFileParts("~/Content/font-awesome/css/font-awesome.css");
    Html.AppendCssFileParts("~/Content/bootstrap.min.css");
    Html.AppendCssFileParts("~/Content/site.css");

    //javascripts
    Html.AppendScriptParts("~/Scripts/kendo/2014.2.716/kendo.messages.zh-CN.js");
    Html.AppendScriptParts("~/Scripts/kendo/2014.2.716/cultures/kendo.culture.zh-CN.min.js");
    Html.AppendScriptParts("~/Scripts/kendo/2014.2.716/kendo.web.min.js");
    Html.AppendScriptParts("~/Scripts/admin.common.js");
    Html.AppendScriptParts("~/Scripts/bootstrap.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.browser.js");

    //page title
    var adminPageTitle = "";
    if (!String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        adminPageTitle = ViewBag.Title + " / ";
    }
    adminPageTitle += "EasyErp 管理";
}
<!DOCTYPE html>
<html>
<head>
    <title>@adminPageTitle</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    @Html.NopHeadCustom()
    @Html.NopCssFiles(Url, ResourceLocation.Head)
    @Html.NopScripts(Url, ResourceLocation.Head)
    
@*<script type="text/javascript">
        kendo.culture("zh-CN");
    </script>*@
</head>
<body class="crm">
    <div class="crm-nav">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-CRM-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="margin-left: 50px; color:#fff;">Brand</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-CRM-navbar-collapse-1">
                    <ul id="subnav" class="nav navbar-nav nav-model">
                        <li>
                            @Html.ActionLink("员工管理", "Index", "Employee")<span class="sr-only">(current)</span>
                        </li>
                        <li>
                            @Html.ActionLink("产品管理", "Index", "Product")<span class="sr-only">(current)</span>
                        </li>
                        <li>
                            @Html.ActionLink("门店管理", "Index", "Store")<span class="sr-only">(current)</span>
                        </li>
                        <li>
                            @Html.ActionLink("订单", "Index", "Order")<span class="sr-only">(current)</span> 
                        </li> 
                        <li>
                            @Html.ActionLink("客户管理", "Index", "Customer")<span class="sr-only">(current)</span>
                        </li> 
                        <li>
                            @Html.ActionLink("工厂管理", "Index", "Consumption")<span class="sr-only">(current)</span>
                        </li> 
                        <li>
                            @Html.ActionLink("门店销售管理", "Index", "StoreSale")<span class="sr-only">(current)</span> 
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-sign-out"></i>退出系统
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!--nav bar-->
    </div>
    @RenderSection("SiderBar", false)
    <div id="main" class="container-fluid">
        @RenderBody()
    </div>
    @Html.NopCssFiles(Url, ResourceLocation.Foot)
    @Html.NopScripts(Url, ResourceLocation.Foot)
<script>
    $(document).ready(function() {
        var controllerName = "@ViewContext.RouteData.Values["Controller"].ToString()";
        $("#subnav a").each(function(index) {
            if (this.pathname.split("/")[1] === controllerName) {
                $(this).parent().addClass("active");
            }
        });
    });
</script>
</body>
</html>