@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SiderBar{
    <div id="nav-wrapper">

        <div id="nav" class="root">

            <div id="root-nav">

                <ul class="root-nav-categories">
                    <li>
                        <h3>@Html.ActionLink("产品信息", "Index", "Product")</h3>
                    </li>
                </ul>

                <ul class="root-nav-categories">
                    <li>
                        <h3>@Html.ActionLink("添加产品", "Create", "Product")</h3>
                    </li>
                </ul>

                <ul class="root-nav-categories">
                    <li>
                        <h3>@Html.ActionLink("入库", "Inventory", "Productt")</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>

}

<div id="section-title">@RenderSection("SectionTitle", false)</div>

@RenderBody()

@RenderSection("scripts", false)